
<% if @group.errors.any? %>
    <div class="alert alert-danger">
      <h5> <%= t('common.errors') %></h5>
      <ul>
        <% @group.errors. full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<%= form_for @group, :html => { :multipart => true } do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control'%>
    </div>

  <div class="form-group">
    <%= f.fields_for :faculties do |s| %>
      <%= s.label :Факультет %>
      <%= s.collection_select :faculty_id, Faculty.order(:title), :id, :name, {include_blank: true}, class: 'form-control'  %>
      </div>
    <% end %>


  <div class="form-group">
    <%= f.fields_for :speciality do |s| %>
      <%= s.label :Специальность %>
      <%= s.collection_select :speciality_id, Speciality.order(:name), :id, :name, {include_blank: true}, class: 'form-control'  %>
  </div>
      <% end %>


    <div class="form-group">
      <%= f.submit t('.submit', action: @group.new_record? ? 'Создать' : 'Изменить'), class: 'btn btn-primary' %>
      <%= link_to t('common.back'), :back, class: 'btn btn-outline-secondary'  %>

    </div>


<% end %>