<h1><%= t(' .title ') %></h1>

<div class="buttons_panel">
    <%= link_to 'Новая группа', new_group_path, class: 'btn btn-outline-primary btn-sm' %>
</div>

<section id="groups">
  <table class="table">
    <thead>
    <tr>
      <th>Название</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @groups.each_with_index do |group, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= group.name %></td>
        <td>
          <%= link_to 'Изменить', edit_group_path(group), class: 'btn btn-outline-primary btn-sm'  %>
          <%= link_to 'Удалить', method: :delete, data: {confirm: 'Вы уверены?'}, class: 'btn btn-outline-primary btn-sm'  %>

        </td>
      </tr>


    <% end %>
    </tbody>
  </table>
</section>