
<% if @lesson.errors.any? %>
    <div class="alert alert-danger">
      <h5> <%= t('common.errors') %></h5>
      <ul>
        <% @lesson.errors. full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>


<%= form_for @lesson, html: {multipartt: true} do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :notes %>
      <%= f.text_area :notes, class: 'form-control' %>
    </div>

    <div class="form-group"  >
      <%= f.label :created_at %>
      <%= f.text_field :created_at, id: 'datepicker' %>
    </div>

    <div class="form-group">
      <%= f.label :group_id %>
      <%= f.collection_select :group_id, Group.order(:name), :id, :name, {include_blank: true}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.file_field :attachments %>
    </div>

    <div class="form-group">
      <%= f.submit t('.submit', action: @lesson.new_record? ? t('common.create') : t('common.edit')), class: 'btn btn-primary' %>
      <%= link_to t('common.back'), :back, class: 'btn btn-outline-secondary'  %>

    </div>


<% end %>