<article class="lesson">
  <section class="lesson-head">
    <h2><%= link_to lesson.title, lesson_path(lesson) %></h2>

    <small>
      <time> <%= lesson.created_at.to_date.strftime("%d %B, %Y") %></time>
      <% if lesson.group.present? %>
        |
        <%= link_to lesson.group.name, lesson.group %>
        <% end %>
      |
      <% if user_signed_in? %>

    <%= link_to 'Изменить', edit_lesson_path(lesson) %>
      |
      <%= link_to 'Удалить', lesson_path(lesson), method: :delete, data: { confirm: 'Вы уверены?'}  %>
        <% end %>
    </small>
  </section>

  <section class="lesson-notes clearfix">
    <%= image_tag  lesson.attachments.url(:thumb), class: 'img-thumbnail thumb' if lesson.attachments?%>
    <%= lesson.notes %>
  </section>

</article>

