<!DOCTYPE html>
  <head>
    <title>Diplom</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


<body>
        <div class="navbar">
          <div class="logo"><%= image_tag 'logo_247x48.png' %></div>
          <ul class="nav clearfix">

            <% if user_signed_in? %>
              <%= link_to 'Новый предмет', new_lesson_path, class: "btn btn-default navbar-btn"  %>
              <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
          <% else %>
              <%= link_to "Регистрация", new_user_registration_path, class: "btn btn-default navbar-btn" %>
              <%= link_to "Войти", new_user_session_path, class: "btn btn-default navbar-btn" %>
                <% end %>
                </ul>
              </div>

  <div class="container main">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |name, message| %>
        <div class="alert alert-<% bootstrap_class_for(name) %>">
          <%= message %>
        </div>
        <% end %>
      </div>
    </div>
  <%= yield %>
  </div>



  </body>
</html>
