<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  <title>Вход</title>
</head>
<body class="devise">
<section>
  <div class="navbar clearfix">
    <div class="logo"><%= image_tag 'logo_247x48.png' %></div>
    <ul class="nav clearfix">

      <% if user_signed_in? %>
        <%= link_to 'Новый предмет', new_lesson_path, class: "btn btn-default navbar-btn"  %>
        <%= link_to "Выход", destroy_user_session_path, method: :delete, class: "btn btn-default navbar-btn" %>
      <% else %>
        <%= link_to "Регистрация", new_user_registration_path, class: "btn btn-default navbar-btn" %>
        <%= link_to "Войти", new_user_session_path, class: "btn btn-default navbar-btn" %>
      <% end %>
    </ul>
  </div>

  <div class="login">
    <%= yield %>
  </div>
</section>
</body>
</html>